* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(187, 179, 179);
  font-size: 1.5em;
}

main {
  display: flex;
  justify-content: center;
}

header, #stage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#selector {
  display: flex;
  flex-direction: column;
  margin: 0 1em 2em 0;
  padding: 1em;
  max-height: 750px;
  overflow-y: scroll;
}

#stage {
  margin: 0 2em 2em 0;
  flex-direction: column;
}

#selector, #stage {
  border: #999 1px solid;
  box-shadow: 2px 2px 18px -5px #888;
  border-radius: 3px;
  background-color: rgb(196, 192, 192)
}

.title {
  display: inline-flex;
  align-self: center;
}

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.cat-name, .click-counter{
  align-self: center;
}

.cat-picture {
  box-shadow: 2px 2px 2px 2px #888;
  margin: 0 0 1em 0;
  display: inline-block;
}

.mini-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.cat-prev {
  width: 200px;
}

.cat-name {
  margin-bottom: .25em;
}
.cat-thumb {
  width: 100%
}
